/*CSS RESET*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
	box-sizing: border-box;
  }
  /*
	2. Remove default margin
  */
  * {
	margin: 0;
  }
  /*
	3. Allow percentage-based heights in the application
  */
  html, body {
	height: 100%;
  }
  /*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
  */
  body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  }
  /*
	6. Improve media defaults
  */
  img, picture, video, canvas, svg {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
  }
  /*
	7. Remove built-in form typography styles
  */
  input, button, textarea, select {
	font: inherit;
  }
  /*
	8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }
  /*
	9. Create a root stacking context
  */
  #root, #__next {
	isolation: isolate;
  }
  /* END CSS RESET */

  /* COLOR VARS */
:root {
	--primary: blue;
	--secondary: white;
	--background: #FFF0EB;
	--yellow: #EDFF00;
	--turquoise: #6EEDD5;
}
/* END COLOR VARS */

/* COLORS */
.background-yellow {
	background-color: var(--yellow);
}
.background-turquoise {
	background-color: var(--turquoise);
}
/* END COLORS */

/* CUSTOM FONTS */
/**
 * @license
 * MyFonts Webfont Build ID 3867246, 2020-12-16T11:57:38-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: HelveticaLTWXX-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/helvetica/pro-regular/
 * Copyright: Copyright © 2014 Monotype Imaging Inc. All rights reserved.
 * 
 * 
 * 
 * © 2020 MyFonts Incn*/  
 @font-face {
	font-family: "SKGoldilocksItalic";
	src: url('/static/webFonts/SKGoldilocksItalic/font.woff2') format('woff2'), url('/static/webFonts/SKGoldilocksItalic/font.woff') format('woff');
  }
  @font-face {
	font-family: "SKGoldilocksRegular";
	src: url('/static/webFonts/SKGoldilocksRegular/font.woff2') format('woff2'), url('/static/webFonts/SKGoldilocksRegular/font.woff') format('woff');
  }
  @font-face {
	font-family: "SKGoldilocksBold";
	src: url('/static/webFonts/SKGoldilocksBold/font.woff2') format('woff2'), url('/static/webFonts/SKGoldilocksBold/font.woff') format('woff');
  }
  @font-face {
	font-family: "SKGoldilocksBoldItalic";
	src: url('/static/webFonts/SKGoldilocksBoldItalic/font.woff2') format('woff2'), url('/static/webFonts/SKGoldilocksBoldItalic/font.woff') format('woff');
  }
/* END CUSTOM FONTS */

/* GENERIC STYLING */
a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

body {
	font-family: "SKGoldilocksRegular";
	background-color: #fafafa; /* Just to see elements pop out */
}

.medium-text {
	font-size: 1.7em;
}

/* NAV STYLE */
/* Header Nav */
header {
    position: fixed;
    right: 10px;
    top: 10px;
	padding: 20px 20px;
	z-index: 1000;
}

nav ul {
	padding: 0;
	list-style: none;
}

nav ul :first-child {
	margin-left: 0;
}

nav li {
	display: inline-block;
	margin: 0 .25em;
}

nav li a {
	padding: .5em 1em;
	background-color: #fff;
	border-radius: 20px;
}

nav li a[href], header nav li a[href]:visited {
	color: #000;
}

nav li a[href]:not(:hover) {
	text-decoration: none;
}

nav li a[data-current="current item"] {
	background-color: white;
}

/* END NAV STYLE */

/* ROW STYLES */

.row{
	padding: 0 50px;
	display: flex;
	flex-wrap: wrap;
}

.hero-row {
	height: 60vh;
}

/* COLUMN STYLES */
.col-50{
	position: relative;
	flex-basis: 50%;
	flex-wrap: wrap;
}

.col-33{
	position: relative;
	flex-basis: 33.3%;
	flex-wrap: wrap;
}

.col-30{
	position: relative;
	flex-basis: 30%;
	flex-wrap: wrap;
}

.col-25{
	position: relative;
	flex-basis: 25%;
	flex-wrap: wrap;
}

.col-20{
	position: relative;
	flex-basis: 20%;
	flex-wrap: wrap;
}


/* END COLUMN STYLES */

/* HEADING AND PARAGRAPH STYLES */

h1 {
	font-size: 8vw;
	line-height: 1.1em;
	font-weight: 800;
	letter-spacing: .02em;
}

h2 {
	font-size: 4vw;
	font-weight: 400;
	background-color: #fff;
	display: inline-block;
    padding-left: 10px;
}

h3 {
	font-size: 2.5vw;
	font-weight: 400;
	background-color: #fff;
	display: inline-block;
    padding-left: 10px;
}

.show-content {
	font-size: 1em;
	font-weight: 400;
	background-color: #fff;
	display: inline-block;
    padding-left: 10px;
}


p {
	padding: 0 10px 0;
}

.small {
	font-size: 0.7em;
}

/* END HEADING AND PARAGRAPH STYLES */

/* PADDING, MARGIN AND MISC UTILITIES */

.flex {
	display:flex;
}

.p-0 {
	padding: 0 !important;
}
.pr-10 {
	padding-right: 10px;
}

.pt-30 {
	padding-top: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-50 {
	margin-bottom: 50px;
}
.pl-30 {
	padding-left: 30px;
}
.ml-30 {
	margin-left: 30px;
}
.pr-30 {
	padding-right: 30px;
}
.mr-30 {
	margin-right: 30px;
}

.pr-150 {
	padding-right: 150px;
}

.pt-22vw {
	padding-top: 22vw;
}

.ml-10 {
	margin-left: 10px;
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.flex-align--self-end {
	align-self: flex-end;
}

.flex-align-start {
	align-items: flex-start;
}

.flex-align--self-start {
	align-self: flex-start;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
}

.absolute {
	position: absolute;
}

.h-200vh {
	height:200vh;
}

.sticky {
	position: sticky;
	top: 0;
}

.text-align-right {
	text-align: right;
}

.height-vh-100 {
	height:100vh;
}

span.line {
	height:1px;
	width:100%;
	background-color:#000;
	top: 1.4em;
    left: 5px;
    width: 120%;
    z-index: 10;
}

.relative {
	position: relative;
}

/* END PADDING, MARGIN AND MISC UTILITIES */