# Netlify CMS Configuration File

# The backend option specifies how to access the content for your site
backend:
  name: git-gateway
  branch: master # The branch to update (optional; defaults to master)

# Uncomment below to enable drafts https://www.netlifycms.org/docs/add-to-your-site/#editorial-workflow
# publish_mode: editorial_workflow

# Uncomment below to enable a link to your published site in the header bar of Netlify CMS
# site_url: https://eleventy-netlify-boilerplate.netlify.app/

media_folder: "static/img" # Media files will be stored in the repo under images/uploads

collections:
  # Our schedules e.g. About
  - name: "show_availability"
    label: "Disponibilité des Spectacles"
    folder: "show_availability"
    create: true # Change to true to allow editors to create new pages
    slug: "{{slug}}"
    fields:
      - { label: "Tangente - Never Not Moving aka dr*gs", name: "tangente_never_not", widget: "boolean" }
      - { label: "Agora - Les jolies choses", name: "agora_jolies_choses", widget: "boolean" }
      - { label: "Danse Danse - Colossus", name: "danse_danse_colossus", widget: "boolean" }
      - { label: "Rotonde - Se méfier des eaux qui dorment", name: "rotonde_mefier", widget: "boolean" }
      - { label: "Tangente - Soirée 100Lux", name: "tangente_100lux", widget: "boolean" }
      - { label: "Rotonde - Efer", name: "rotonde_efer", widget: "boolean" }
      - { label: "Danse Danse - Reckless Underdog", name: "reckless", widget: "boolean" }
      - { label: "Agora - La Goddam Voie Lactée", name: "agora_goddam", widget: "boolean" }