<head>
  <meta name="facebook-domain-verification" content="3q39z32v368fkw2mqij4xemcz9935d" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  {% set css %}
    {% include "assets/css/inline_autoprefixer.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% include 'components/gtm.njk' %}
  {# {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script> #}
</head>
