<nav class="mobile-none">
  <ul>
    <li>
      <a href="/en">En</a>
      <a href="#">Billetterie</a>
      <a href="#programmation">Calendrier</a>
    </li>
  </ul>
</nav>

<div id="menuToggle" class="desktop-none">
  <input type="checkbox" />
  <div id="hamburger">
    <div class="center">
      <span></span>
      <span></span>
    </div>
  </div>
  <nav style="padding-right: 35px;">
    <ul>
      <li>
        <a href="/en">En</a>
        <a href="#">Billetterie</a>
        <a href="#programmation">Calendrier</a>
      </li>
    </ul>
  </nav>
</div>
