<nav class="mobile-none">
  <ul>
    <li>
      {% if page.url == '/en/' %}
      <a href="/">Fr</a>
      <a href="https://voirladanse.tuxedobillet.com/">Tickets</a>
      <a href="#programmation">Calendar</a>
      {% else %}
      <a href="/en">En</a>
      <a href="https://voirladanse.tuxedobillet.com/">Billetterie</a>
      <a href="#programmation">Calendrier</a>
      {% endif %}
    </li>
  </ul>
</nav>

<div id="menuToggle" class="desktop-none">
  <input type="checkbox" />
  <div id="hamburger">
    <div class="center">
      <span></span>
      <span></span>
    </div>
  </div>
  <nav style="padding-right: 35px;">
    <ul>
      <li>
      {% if page.url == '/en/' %}
      <a href="/">Fr</a>
      <a href="https://voirladanse.tuxedobillet.com/">Tickets</a>
      <a href="#programmation">Calendar</a>
      {% else %}
      <a href="/en">En</a>
      <a href="https://voirladanse.tuxedobillet.com/">Billetterie</a>
      <a href="#programmation">Calendrier</a>
      {% endif %}
      </li>
    </ul>
  </nav>
</div>
