---
layout: layouts/page.njk
title: Home
metaDescription: This is a sample meta description. 
date: 2016-01-01T00:00:00.000Z
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---
<div>This will be the french page</div>
{% renderFile "./_includes/sections/section.md" %}
