---
layout: layouts/page.njk
title: Voir La Danse
metaDescription: This is a sample meta description. 
permalink: /
---
<div class="row hero-row background-yellow">
  <div class="col-50 flex">
    <h1 class="pr-150 flex-align--self-end">
    Voir la danse sur 4 scènes
    </h1>
  </div>
  <div class="col-50 flex">
    <div class="col-50 flex">
      <p class="flex-align--self-end">
        Explorez le monde de la danse grâce au forfait Découverte initié par quatre diffuseurs de danse contemporaine à Montréal et à Québec.
      </p>
    </div>
    <div class="col-50 flex">
      <p class="flex-align--self-end">
        Choisissez 2 spectacles pour 50 $*. Osez la danse!
      </p>
      <p class="small" style="position: absolute; bottom: -70px;">
      <strong>*Offre d'une durée limitée. Sous réserve de disponibilité des places. Des conditions s’appliquent.</strong>
    </p>
    </div>
  </div>
</div>
<div class="row background-yellow p-0" style="height:20vh">
  <div class="col-25">
    <p class="absolute-bottom">
      Agora de la danse
    </p>
  </div>
  <div class="col-25">
    <p class="absolute-bottom">
      Danse Danse
    </p>
  </div>
  <div class="col-25">
    <p class="absolute-bottom">
      La Rotonde
    </p>
  </div>
  <div class="col-25">
    <p class="absolute-bottom">
      Tangente
    </p>
  </div>
</div>
<div class="row p-0">
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
</div>
{% renderFile "./_includes/sections/section.md" %}
