---
layout: layouts/page.njk
title: Voir La Danse
metaDescription: This is a sample meta description. 
permalink: /
---
<div class="row hero-row background-yellow">
  <div class="col-50 flex">
    <h1 class="pr-150 flex-align--self-end">
    Voir la danse sur 4 scènes
    </h1>
  </div>
  <div class="col-50 flex">
    <div class="col-50 flex">
      <p class="flex-align--self-end">
        Explorez le monde de la danse grâce au forfait Découverte initié par quatre diffuseurs de danse contemporaine à Montréal et à Québec.
      </p>
    </div>
    <div class="col-50 flex">
      <p class="flex-align--self-end">
        Choisissez 2 spectacles pour 50 $*. Osez la danse!
      </p>
      <p class="small" style="position: absolute; bottom: -70px;">
      <strong>*Offre d'une durée limitée. Sous réserve de disponibilité des places. Des conditions s’appliquent.</strong>
    </p>
    </div>
  </div>
</div>
<div class="row background-yellow p-0" style="height:20vh">
  <div class="col-25">
    <p class="absolute-bottom medium-text ml-10">
      Agora de la danse
    </p>
  </div>
  <div class="col-25">
    <p class="absolute-bottom medium-text ml-10">
      Danse Danse
    </p>
  </div>
  <div class="col-25">
    <p class="absolute-bottom medium-text ml-10">
      La Rotonde
    </p>
  </div>
  <div class="col-25">
    <p class="absolute-bottom medium-text ml-10">
      Tangente
    </p>
  </div>
</div>
<div class="row p-0">
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
  <div class="col-25">
    <img src="https://placekitten.com/300/400" alt="I'm an image" width="300" height="400">
  </div>
</div>
<div class="row p-0 flex-align-start background-turquoise">
  <div class="absolute h-200vh w-100">
  <h1 class="pt-30 ml-30 w-50 sticky">Agora de la danse</h1>
  </div>
  <div class="col-50 flex pt-22vw">
    <div class="w-100">
      <h2 class="ml-30 mr-30 pr-10">Les jolies choses</h2>
      <h3 class="ml-30 mr-30 pr-10">Catherine Gaudet</h3>
      <p class="ml-30 mr-30 show-content pr-10">Grand Prix de la danse de Montréal 2022, la chorégraphe Catherine Gaudet met en mouvement cinq corps qui s’activent au rythme du métronome. Leurs mouvements mécaniques se déploient, la machine s’échauffe et exige d’eux une rigueur irréprochable. Une partition brillamment orchestrée qui remue les sens. « Leur révolte est patente, leur indiscipline, humaine, leur anarchie, bienfaisante [...] » - Revue Jeu. </p>
      <div class="col-25">
        <p>bla</p>
      </div>
      <div class="col-25">
        <p>bla</p>
      </div>
    </div>
  </div>
  <div class="col-50 flex">
    <img src="https://placekitten.com/700/1000" alt="I'm an image" width="700" height="1000">
  </div>
  <div class="col-50 flex">
    <div class="w-100">
      <h2 class="ml-30 mr-30 pr-10">La Goddam Voie Lactée</h2>
      <h3 class="ml-30 mr-30 pr-10">MAYDAY</h3><br>
      <h3 class="ml-30 mr-30 pr-10">Mélanie Demers</h3>
      <p class="ml-30 mr-30 show-content pr-10">Cette pièce phare de Mélanie Demers, Grand Prix de la danse de Montréal 2021, engage cinq interprètes époustouflantes dans une puissante charge féminine entre performance chorégraphique, théâtre et concert. Les quatre danseuses Stacey Désilier, Brianna Lombardo, Chi Long, Léa Noblet Di Ziranaldi et la compositrice, musicienne et chanteuse Frannie Holder, nous entraînent à leur suite entre voix et mouvements dans un territoire de rencontre poétique aux intonations sombres et fantasques. Une célébration du féminin aux accents contestataires dont on ne sort pas indemne. « Elle touche à la fois au dramatique, à l’humoristique, au grotesque et au poétique, pour une proposition éclatée, mais solide, totalement assumée. » - La Presse
      </p>
    </div>
  </div>
  <div class="col-50 flex">
    <img src="https://placekitten.com/700/1000" alt="I'm an image" width="700" height="1000">
  </div>
</div>
{% renderFile "./_includes/sections/section.md" %}
{% renderFile "./_includes/sections/section.md" %}
{% renderFile "./_includes/sections/section.md" %}