---
layout: layouts/page.njk
title: Home
metaDescription: This is a sample meta description. If one is not present in your page/post's front matter, the default metadata.desciption will be used instead.
date: 2016-01-01T00:00:00.000Z
permalink: /en/index.html
eleventyNavigation:
  key: Home EN
  order: 0
---
<div>This will be the english page.</div>
{% renderFile "./_includes/sections/section.md" %}
